<meta
	http-equiv="Content-Security-Policy"
	content="child-src https://gist.github.com; frame-ancestors https://gist.github.com;"
/>

<div class="main-content">
	<div class="container-fluid">
		<div class="card card-plain">
			<div class="card-header card-header-danger">
				<h4 class="card-title">Source Code Github</h4>
				<p class="card-category">
					Visit our repository in GitHub for source code.
					<a target="_blank" href="https://github.com/air-guardians"
						>Air Guardians</a
					>
				</p>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card-body">
						<div class="iframe-container d-none d-lg-block" id="code">
							<a
								class="follow"
								target="_blank"
								href="https://github.com/air-guardians/carbon-footprint-app"
								><i class="fa fa-github"></i>
								<p>Source Code</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
