.headBaner{
    background-color: #4caf50;
}

.headColorText{
    color: white;
    
}

.btn-color{
    background-color: #4caf50;
}

.btn-color:hover{
    background-color: #4caf50;
}

.btn-color:onclick{
    background-color: #4caf50;
}

.input-h2 {
  margin: 10px;
}

.input-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.input-margin {
  margin: 0 10px;
}


.container-footprint{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#waste-label, .fa-recycle {
	color: #228B22;
}