<div class="main-content">
	<div class="container-footprint">
		<div class="col-lg-6 col-md-12" *ngIf="!showStepper && !finish">
			<div class="card">
				<div class="card-header card-header-tabs headBaner">
					<h2 class="card-title .headColorText">Calculator Carbon Footprint</h2>
				</div>
				<div class="card-body">
					<img
						class="card-img"
						src="/assets/img/act-now.jpg"
						alt="Card image"
					/>
					<p>
						One of the main pollutants on our planet is C02, This greenhouse gas
						is not only the cause of global warming but is also the culprit of
						producing mild and catastrophic respiratory diseases.
					</p>
					<p>
						All the inhabitants of the planet are guilty of the carbon
						footprint, that is why we must be aware of our actions on our
						planet.
					</p>
					<p>
						We invite you to know what your carbon footprint is on our planet.
					</p>
					<input
						name=""
						id=""
						class="btn btn-color"
						type="button"
						(click)="showStepper = !showStepper"
						value="Start"
					/>
				</div>
			</div>
		</div>

		<mat-horizontal-stepper
			class="col-lg-6 col-md-12"
			[linear]="isLinear"
			*ngIf="showStepper"
			#stepper
		>
			<mat-step>
				<ng-template matStepLabel>General</ng-template>

				<div class="col-lg-12 col-md-12">
					<div class="card">
						<div class="card-header card-header-tabs headBaner">
							<h2 class="card-title .headColorText">General Data</h2>
						</div>
						<div class="card-body">
							<p>It is important, that you know about your carbon footprint.</p>

							<section class="input-section">
								<label class="input-margin">Calculate:</label>
								<mat-radio-group [(ngModel)]="labelPosition">
									<mat-radio-button class="input-margin" value="after"
										>Just Me</mat-radio-button
									>
									<mat-radio-button class="input-margin" value="before"
										>My Family</mat-radio-button
									>
								</mat-radio-group>
							</section>

							<section class="input-section" *ngIf="!isShowFamily()">
								<label class="input-margin">Members Family:</label>

								<input
									name=""
									type="number"
									value=""
									placeholder="Number Members"
								/>
							</section>

							<section class="input-section">
								<label class="input-margin">Electrical Consumtion:</label>

								<input name="" type="number" value="" placeholder="$$$" />
							</section>

							<section class="input-section">
								<label class="input-margin">Amount of Domestic Gas:</label>

								<input
									name=""
									type="number"
									value=""
									placeholder="Number Gas"
								/>
							</section>

							<h3 class="form-section-label" id="waste-label">
								<i class="fa fa-recycle" aria-hidden="true"></i> Waste
							</h3>
							<div class="form-group">
								<label>Do you recycle newspaper?</label>
								<div class="radio">
									<label>
										<input
											type="radio"
											name="newspaperOptionsRadios"
											id="optionsRadio1"
											value="option1"
										/>
										Yes
									</label>
								</div>
								<div class="radio">
									<label>
										<input
											type="radio"
											name="newspaperOptionsRadios"
											id="optionsRadio2"
											value="option2"
										/>
										No
									</label>
								</div>
							</div>

							<div class="form-group">
								<label>Do you recycle aluminum and tin?</label>

								<div class="radio">
									<label>
										<input
											type="radio"
											name="alumtinOptionsRadios"
											id="optionsRadio3"
											value="option3"
										/>
										Yes
									</label>
								</div>
								<div class="radio">
									<label>
										<input
											type="radio"
											name="alumtinOptionsRadios"
											id="optionsRadio4"
											value="option4"
										/>
										No
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div>
					<button mat-button matStepperNext>Next</button>
				</div>
			</mat-step>

			<mat-step>
				<ng-template matStepLabel>Feeding</ng-template>
				<div class="col-lg-12 col-md-12">
					<div class="card">
						<div class="card-header card-header-tabs headBaner">
							<h2 class="card-title .headColorText">Feeding Data</h2>
						</div>
						<div class="card-body">
							<p>It is important, that you know about your carbon footprint.</p>
						</div>
					</div>
				</div>

				<div>
					<button mat-button matStepperPrevious>Back</button>
					<button mat-button matStepperNext>Next</button>
				</div>
			</mat-step>

			<mat-step>
				<ng-template matStepLabel>Transport</ng-template>
				<div class="col-lg-12 col-md-12">
					<div class="card">
						<div class="card-header card-header-tabs headBaner">
							<h2 class="card-title .headColorText">Transport Data</h2>
						</div>
						<div class="card-body">
							<p>It is important, that you know about your carbon footprint.</p>
							<input
								name=""
								id=""
								class="btn btn-color"
								type="button"
								(click)="calculate()"
								value="Calculate"
							/>
						</div>
					</div>

					<div></div>

					<button mat-button matStepperPrevious>Back</button>
					<button mat-button (click)="stepper.reset()">Reset</button>
				</div>
			</mat-step>
		</mat-horizontal-stepper>

		<div class="col-lg-6 col-md-12" *ngIf="finish">
			<div class="card">
				<div class="card-header card-header-tabs headBaner">
					<h2 class="card-title .headColorText">Your Footprint</h2>
				</div>
				<div class="card-body">
					<img
						class="card-img"
						src="/assets/img/betterfuture.jpg"
						height="250"
						alt="Card image"
					/>
					<p>
						Our team expected that this solution can make people change their
						perspective, thinking and ignorance about carbon footprint and its
						consequences. Also, we expected that authorities make changes or
						enact laws that act against this problem.
					</p>
					<p>
						It is important to start taking care of our planet, not only for us
						but for our decendents, with this idea we expect that the world can
						change in good shape.
					</p>
					<input
						name=""
						id=""
						class="btn btn-color"
						type="button"
						(click)="finish = !finish"
						value="Restart"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
