<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<div class="card">
					<div class="card-header card-header-tabs what-is-challenge">
						<h2 class="card-title .what-is-challenge-primary">
							Calculator Carbon Footprint
						</h2>
					</div>
					<div class="card-body">
						<img
							class="card-img"
							src="/assets/img/betterfuture.jpg"
							height="250"
							alt="Card image"
						/>
						<p>
							Our team expected that this solution can make people change their
							perspective, thinking and ignorance about carbon footprint and its
							consequences. Also, we expected that authorities make changes or
							enact laws that act against this problem.
						</p>
						<p>
							It is important to start taking care of our planet, not only for
							us but for our decendents, with this idea we expect that the world
							can change in good shape.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
