<!-- desarrolladores -->
<div class="main-content col-lg-12 col-md-12">

	<section class="row justify-content-between" id="authors-section">
		<div class="mb-sm-4 profile-author-card">
			<div class="img">
				<img src="/assets/img/desarrolladores/dennys.jpg" />
			</div>

			<div class="mid-section">
				<div class="name">Dennys Lopez Damian</div>
				<div class="description">Ingeniería en Computación<br /></div>
			</div>
			<div class="links">
				<a class="fb" target="_blank" href="https://www.instagram.com/lopdam.ec"
					><i class="fa fa-instagram" aria-hidden="true"></i></a
				><a class="twitter" href="mailto:dennyslope2013@gmail.com"
					><i class="fa fa-envelope" aria-hidden="true"></i></a
				><a class="follow" target="_blank" href="https://lopdam-ec.web.app/"
					><i class="fa fa-globe" aria-hidden="true"></i
				></a>
			</div>
		</div>
		<div class="mb-sm-4 profile-author-card">
			<div class="img">
				<img src="/assets/img//desarrolladores/diana.jpg" />
			</div>

			<div class="mid-section">
				<div class="name">Diana Molina Torres</div>
				<div class="description">Ingeniería en Computación<br /></div>
			</div>
			<div class="links">
				<a
					class="fb"
					target="_blank"
					href="https://www.facebook.com/diana.molina.7965"
					><i class="fa fa-facebook-f" aria-hidden="true"></i></a
				><a class="twitter" href="mailto:dianmoli@espol.edu.ec"
					><i class="fa fa-envelope" aria-hidden="true"></i></a
				><a class="follow" target="_blank" href="https://github.com/dianmoli98"
					><i class="fa fa-github" aria-hidden="true"></i
				></a>
			</div>
		</div>

		<div class="mb-sm-4 profile-author-card">
			<div class="img">
				<img src="/assets/img/desarrolladores/william.jpg" />
			</div>

			<div class="mid-section">
				<div class="name">William Medina Masa</div>
				<div class="description">Ingeniería en Computación<br /></div>
			</div>
			<div class="links">
				<a class="fb" target="_blank" href="https://www.facebook.com/medinamasa"
					><i class="fa fa-facebook-f" aria-hidden="true"></i></a
				><a class="twitter" href="mailto:wsmedina@espol.edu.ec"
					><i class="fa fa-envelope" aria-hidden="true"></i></a
				><a class="follow" target="_blank" href="https://gitlab.com/willymedi2"
					><i class="fa fa-gitlab" aria-hidden="true"></i
				></a>
			</div>
		</div>
		<div class="mb-sm-4 profile-author-card">
			<div class="img">
				<img src="/assets/img/desarrolladores/carlos.jpeg" />
			</div>

			<div class="mid-section">
				<div class="name">Carlos Salazar Moreira</div>
				<div class="description">Ingeniería en Computación<br /></div>
			</div>
			<div class="links">
				<a
					class="fb"
					target="_blank"
					href="https://www.facebook.com/carlos.salazar.3538"
					><i class="fa fa-facebook-f" aria-hidden="true"></i></a
				><a class="twitter" href="mailto:carfesal@espol.edu.ec"
					><i class="fa fa-envelope" aria-hidden="true"></i></a
				><a class="follow" target="_blank" href="https://gitlab.com/carfesal"
					><i class="fa fa-gitlab" aria-hidden="true"></i
				></a>
			</div>
		</div>
	</section>
</div>
